@{
    ViewBag.Title = "About";
}

<div id="chartContainer"></div>



<script type="text/javascript">

    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
            theme: "theme2",
            animationEnabled: true,
            title: {
                text: "Simple Column Chart in ASP.NET MVC"
            },
            subtitles: [
                { text: "Try Resizing the Browser" }
            ],
            data: [
                {
                    type: "bar", //change type to bar, line, area, pie, etc
                    dataPoints: [
                        { x: 10, y: 15 },
                        { x: 10, y: 55 },
                        { x: 30, y: 50 },
                        { x: 40, y: 65 },
                        { x: 50, y: 95 },
                        { x: 60, y: 68 },
                        { x: 70, y: 28 },
                        { x: 80, y: 34 },
                        { x: 90, y: 14 }
                    ]
                }
            ]
        });
        chart.render();
    };
</script>
@*<script type="text/javascript">

    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
            title: {
                text: "Wie gut kennen Sie sich mit Kryptowährungen aus?"
            },
            subtitles: [
                {
                    text: "Zwischen 1 und 6"
                }
            ],
            animationEnabled: true,
            legend: {
                cursor: "pointer",
                itemclick: function (e) {
                    if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                        e.dataSeries.visible = false;
                    }
                    else {
                        e.dataSeries.visible = true;
                    }
                    chart.render();
                }
            },
            axisY: {
                title: "Antwort"
            },
            toolTip: {
                shared: true,
                content: function (e) {
                    var str = '';
                    var total = 0;
                    var str3;
                    var str2;
                    for (var i = 0; i < e.entries.length; i++) {
                        var str1 = "<span style= 'color:" + e.entries[i].dataSeries.color + "'> " + e.entries[i].dataSeries.name + "</span>: <strong>" + e.entries[i].dataPoint.y + "</strong> <br/>";
                        total = e.entries[i].dataPoint.y + total;
                        str = str.concat(str1);
                    }
                    str2 = "<span style = 'color:DodgerBlue; '><strong>" + e.entries[0].dataPoint.label + "</strong></span><br/>";
                    str3 = "<span style = 'color:Tomato '>Total: </span><strong>" + total + "</strong><br/>";

                    return (str2.concat(str)).concat(str3);
                }

            },
            data: [
            {
                type: "bar",
                showInLegend: true,
                name: "1",
                color: "yellow",
                dataPoints: [
                    { y: 3, label: "<25" },
                    { y: 3, label: "25-50" },
                    { y: 4, label: ">50" }
                ],

            },
            {
                type: "bar",
                showInLegend: true,
                name: "2",
                color: "green",
                dataPoints: [
                    { y: 3, label: "<25" },
                    { y: 2, label: "25-50" },
                    { y: 1, label: ">50" }
                ],

            },
            {
                type: "bar",
                showInLegend: true,
                name: "3",
                color: "red",
                dataPoints: [
                    { y: 3, label: "<25" },
                    { y: 4, label: "25-50" },
                    { y: 0, label: ">50" }
                ],
                }

            {
                type: "bar",
                showInLegend: true,
                name: "4",
                color: "#108247",
                dataPoints: [
                    { y: 1, label: "<25" },
                    { y: 4, label: "25-50" },
                    { y: 0, label: ">50 "}
                ],

                }
            {
                type: "bar",
                showInLegend: true,
                name: "5",
                color: "#42eef4",
                dataPoints: [
                    { y: 3, label: "<25" },
                    { y: 3, label: "25-50" },
                    { y: 1, label: ">50" }
                ],

                }
            {
                type: "bar",
                showInLegend: true,
                name: "6",
                color: "#42eef4",
                dataPoints: [
                    { y: 3, label: "<25" },
                    { y: 0, label: "25-50" },
                    { y: 0, label: ">50" }
                ],
            }

            ]
        });

        chart.render();
    };
</script>*@




