@{
    ViewBag.Title = "Kontakt";
}

<div class="conHeader">Lernen Sie uns kennen</div>

<div class="container conWrapper">
    <div class="row contRow" data-aos="fade-up" data-aos-duration="1000">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="condescription right col-sm-7">
                <h2 class="">Luca Fischer</h2>
                <p>
                    Informatiker Fachrichtung Applikationsentwicklung <br />
                    General Electric Digital<br />
                    <a href="mailto:luca@kryptoszene-berlin.ch">luca@kryptoszene-berlin.ch</a>
                </p>
            </div>
            <div class="col-sm-4 col-sm-offset-1 condImg">
                <img src="~/Content/img/_BER6029.JPG" alt="Bild von Luca Fischer" />
            </div>
        </div>
    </div>
    <hr />

    <div class="row contRow" data-aos="fade-up" data-aos-duration="1000">
        <div class="col-sm-10 col-sm-offset-1">

            <div class="col-sm-4 condImg">
                <img src="~/Content/img/_BER6030.JPG" alt="Bild von Valentin Gerber" />
            </div>
            <div class="col-sm-7 col-sm-offset-1 condescription">
                <h2 class="">Valentin Gerber</h2>
                <p>
                    Informatiker Fachrichtung Systemtechnik <br />
                    Sika Informationssysteme AG <br />
                    <a href="mailto:valentin@kryptoszene-berlin.ch">valentin@kryptoszene-berlin.ch</a>
                </p>
            </div>
        </div>
    </div>
    <hr />
    <div class="row contRow" data-aos="fade-up" data-aos-duration="1000">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="condescription right col-sm-7">
                <h2 class="">Flavio Müller</h2>
                <p>
                    Informatiker Fachrichtung Applikationsentwicklung <br />
                    Fachhochschule Nordwestschweiz <br />
                    <a href="mailto:flavio@kryptoszene-berlin.ch">flavio@kryptoszene-berlin.ch</a>
                </p>
            </div>
            <div class="col-sm-4 col-sm-offset-1 condImg">
                <img src="~/Content/img/_BER6154.JPG" alt="Bild von Flavio Müller" />
            </div>
        </div>
    </div>

</div>