@{
    ViewBag.Title = "Home Page";
}


<div class="noscroll">
    <link href='https://fonts.googleapis.com/css?family=Nova Flat' rel='stylesheet'>
    <div class="IndexHeadingText" data-aos="fade-right" data-aos-duration="1500">
        <div>Nur eine</div>
        <div class="SecondHeadingText">Spielerei?</div>
    </div>


    <div class="IndexHeadingText2" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="1000">
        <div>Plötzlich Reich...</div>
    </div>

    <div class="IndexHeadingText3" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="2000">
        <div>
            Das Vermächtnis der Kryptowährungen
        </div>
    </div>

    <a class="explore" href="~/Home/About">
        <div data-aos="fade-up" data-aos-duration="3000">
            Erkunden &nbsp;<span class="glyphicon glyphicon-send iconsend"></span>
        </div>
    </a>
</div>