@{
    ViewBag.Title = "Kontakt";
}

<div class="conHeader">Unser Interview mit Moritz</div>

<div class="container conWrapper">
    <div class="IFrameWrapper">
        <iframe class="IFrame" src="https://www.youtube.com/embed/yxnanTmTv8Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <hr />
    <div class="InterviewText container">
        <div class="container">
            Dieses Interview entstand in Berlin bei der <a href="http://leuchtstoff.berlin/">Cafebar Leuchtstoff</a>. Moritz war so nett sich vor unsere Kamera zu setzen, und uns Antworten auf unsere Fragen zu geben.<br />
            Im Interview erzählt er was für Vor und Nachteile eine Unternehmung haben kann, welche solch einen Service anbietet.<br />
            Weiter veriet er uns was er von der ganzen Sache hählt und wie sie angefangen haben.
        </div>
    </div>
    <hr />
    <div class="text-center">
        <img class="interviewImg" alt="Bild von der Kaffeebar Leuchtstoff in Berlin" src="~/Content/img/_BER6057.JPG" />
    </div>
</div>

<footer>
    <a href="mailto:info@kryptoszene-berlin.ch">info@kryptoszene-berlin.ch</a>
    <p>&copy; @DateTime.Now.Year - Krypotszene Berlin</p>
</footer>