@{
    ViewBag.Title = "Introduction Pagr";
}


<div class="conHeader">Unser Projekt</div>

<div class="container conWrapper">
    <div class="row contRow" data-aos="fade-up" data-aos-duration="1000">
        <div class="col-sm-10 col-sm-offset-1 introdescription">
            <h2 class="conName">Über uns:</h2>
            <br/>
            <p class="description">
                Wir, Valentin Gerber, Flavio Müller und Luca Fischer, sind drei Informatikauszubildende welche die Berufsmaturitätsschule an der Berufsfachschule BBB in Baden besuchen und während des sechsten Semesters unserer Ausbildung eine Interdisziplinäreprojektarbeit erstellen durften.
            </p>
        </div>
    </div>
    <hr />
    <div class="row contRow" data-aos="fade-up" data-aos-duration="1000">
        <div class="col-sm-10 col-sm-offset-1 introdescription">
            <h2 class="conName">Unser Projekt: </h2>
            <br/>
            <p class="description">
                Für unsere Projektarbeit mit dem Titel Kryptoszene-Berlin, fuhren wir nach Berlin um zu sehen wie sich die Kryptowährungen auf die Bevölkerung Berlins und ihr Leben auswirkt. Um dies zu untersuchen, führten wir auf den Strassen Berlins eine Umfrage durch. Uns war besonders wichtig, dass alle Teilnehmenden auch in Berlin leben und dass wir möglichst viele verschiedene Menschen in unseren drei Alterskategorien befragen konnten.
                Auch befragten wir Moritz der Leuchtstoffbar wie sich sein Arbeitsleben verändert hat seit die Kryptowährungen immer beliebter werden.
                Die Erkenntnisse unserer Reise nach Berlin wollten wir mithilfe der Webseite interessierten Menschen zugänglich machen.

            </p>
        </div>
    </div>
    <hr />
    <div class="row contRow" data-aos="fade-up" data-aos-duration="1000">
        <div class="col-sm-10 col-sm-offset-1 introdescription">
            <h2 class="conName">Kryptowährungen: </h2>
            <br/>
            <p class="description">
                Kryptowährungen sind digitale Zahlungsmittel. Kryptowährungen basieren auf kryptographischen Werkzeugen wie Blockchains und digitalen Signaturen. Zu den bekanntesten Kryptowährungen gehören: Bitcoin, Bitcoin Cash, Ether/Ethereum, Litecoin, IOTA, etc. Zu diesem Zeitpunkt sind ungefähr 1700 Kryptowährungen auf dem Markt.

            </p>
        </div>
    </div>
</div>

<footer>
    <a href="mailto:info@kryptoszene-berlin.ch">info@kryptoszene-berlin.ch</a>
    <p>&copy; @DateTime.Now.Year - Krypotszene Berlin</p>
</footer>