@model Kryptoszene_berlin.Models.CommentViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="conHeader">Impressum</div>


<div class="conWrapper extrapadding">

    @{ Html.RenderPartial("List", Model.Comments); }
    @{ Html.RenderPartial("Create", Model.NewComment); }


</div>

<footer>
    <a href="mailto:info@kryptoszene-berlin.ch">info@kryptoszene-berlin.ch</a>
    <p>&copy; @DateTime.Now.Year - Krypotszene Berlin</p>
</footer>