<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="container white">
        <hgroup>

            <h1>Kein Zugriff</h1>
            <h2>Sie besitzen keine Berechtigungen diese Aktion auszuführen.</h2>
        </hgroup>
    </div>
</body>
</html>
