<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="container white">
        <hgroup>

            <h1>Sind sie ein Roboter?</h1>
            <h2>Bitte füllen Sie alle Felder korrekt aus.</h2>
            <h4>@Html.ActionLink("Zurück", "Index", "Comments")</h4>
        </hgroup>
    </div>
</body>
</html>
