@font-face {
    font-family: 'BahnschriftCrypto'; /*a name to be used later*/
    src: url('../fonts/bahnschrift.ttf') format('truetype'); /*URL to font*/
}

html {
    background: url(img/_BER6093.JPG) no-repeat center center fixed;
    background-size: cover;
}

body {
    padding-top: 100px;
    font-family: "BahnschriftCrypto";
    background-color: rgba(0,0,10,0.7);
    min-height: 100vh;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}



.NavBarCrypto {
    height: 70px;
    background-color: rgba(0,0,0,0.7);
    border: none;
}

.NavBarCryptoInnerContainer {
    height: 100%;
}

.navbar-inverse .navbar-nav > li > a {
    color: #428bca;
    font-size: 120%;
}

.navbar-inverse .NavBarCryptoBrand {
    margin-top: 10px;
    font-size: 160%;
    color: #428bca;
}

footer {
    color: #ffaaaa;
    position: static;
    text-align: center;
    width: 100%;
    height: 70px;
    padding-top: 30px;
    margin-bottom: 20px;
}

.navbar-inverse .navbar-toggle {
    margin-top: 17px;
}

.navbar-inverse .navbar-collapse {
    border: none;
    margin-top: 10px;
    background-color: transparent;
}

@media screen and (max-width: 767px) {
    .navbar-inverse .navbar-collapse {
        background-color: rgba(0,0,0,0.7);
    }
}

.transparten-white {
    background-color: rgba(255, 255, 255, 0.8);
}

/*Index*/
.IndexHeadingText {
    color: #ffaaaa;
    font-size: calc(15px + 4vw);
    position: absolute;
    top: calc(70px + 3vw);
    left: calc(10vw - 20px);
    font-family: "Nova Flat";
}

@media screen and (max-width: 350px) {
    .IndexHeadingText {
        font-size: calc(8px + 4vw);

    }
}

.IndexLink {
    z-index: 100;
    position: absolute;
    right: 15%;
    bottom: 10%;
    font-size: calc(15px + 4vw);
}

.SecondHeadingText {
    margin-left: 10vw;
}


.noscroll {
    overflow: hidden;
}


.explore {
    position: absolute;
    bottom: 15vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: calc(25px + 2vw);
    color: #ffaaaa;
    padding: 2vw;
}

.iconsend {
    font-size: 75%;
}

.explore:hover {
    background-color: rgba(255, 255, 255, .8);
    border-radius: 0.2vw;
    transition: 1s;
}

/* Contact*/
.white {
    color: white;
}

.conWrapper {
    background-color: rgba(255, 255, 255, 0.7);
}

.conHeader {
    font-size: calc(28px + 3vw);
    color: #ffaaaa;
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 6vw;
}

.conName {
    color: chocolate;
}

.right {
    text-align: right;
}

.condescription {
    padding-top: 1.5vw;
    height: 100%;
}

.condImg {
    padding: 1vw;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

@media screen and (max-width: 991px) {
    .condImg {
        padding-top: calc(1vw + 27px);
    }
}

@media screen and (max-width: 776px) {
    .condescription {
        text-align: center;
    }
}



img {
    max-width: 100%;
}

.contRow {
    margin-bottom: 4vw;
    margin-top: 4vw;
}

hr {
    border-color: black;
    margin-right: 10%;
    width: 80%;
}


/* Impressum */

.comWrapper {
    margin: 0 5vw;
    padding: 2vw;
}

.comName {
    font-size: calc(0.8vw + 18px);
    color: chocolate;
}

.comMessage {
    padding: 0.8vw;
    font-size: calc(0.4vw + 12px);
}

.comDate {
    text-align: right;
    font-size: calc(0.4vw + 8px);
}

.crHead {
    font-size: calc(0.4vw + 18px);
    margin: 2vw 0;
}

.textAreaComment {
    max-width: 550px;
}

.extrapadding {
    padding-top: 30px;
}

.captcha {
    padding-top: calc(10px + 1vw);
    padding-bottom: calc(10px + 1vw);
}

.IFrame {
    width: 100%;
    height: 100%;
    position: absolute;
}

.IFrameWrapper {
    margin: 3vw;
    width: calc(100% - 6vw);
    position: relative;
}

    .IFrameWrapper:after {
        content: "";
        display: block;
        padding-bottom: 56.25%;
    }


.chartContainer {
    height: 250px;
    margin: 4vw 0;
    padding: 0 4vw;
}

.chart {
    height: 250px;
}

.ChartDescription {
    height: 250px;
    margin: 4vw 0;
    vertical-align: middle;
    font-size: calc(0.6vw + 12px);
}

@media screen and (max-width: 776px) {
    .ChartDescription {
        text-align: center !important;
        height: auto;
    }

    .innerDescription {
        text-align: center !important;
        padding: 5vw !important;
        top: 0 !important;
        transform: unset !important;
    }
}

.innerDescription {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.desRight {
    text-align: left;
    padding-right: 5vw;
}

.desLeft {
    text-align: right;
    padding-left: 5vw;
}

.InterviewText {
    text-align: center;
    font-size: calc(0.8vw + 8px);
    margin: 5vw;
}

.interviewImg {
    margin: 2vw;
    max-width: 80%;
}

.introdescription {
    padding: 3vw calc(3vw + 20px);
    text-align: center;
}

.description {
    font-size: calc(0.6vw + 12px);
}



/* index */
#svg {
    bottom:0;
    left: 0;
    width:100%;
    height: calc(100vh - 70px);
    position:absolute;
    /*-webkit-transform:translate3d(-50%,-50%,0);   */
}
.line {
    stroke-dashoffset:0;
    box-shadow: 10px 10px 1px black;
}
.breakpoint{
    transform:scale(0);
    position:absolute;
    -webkit-transform-origin:50% 50%;
}
.active { transform: scale(1); }
